
.iframeContainer {
  width: 100%;
  height: 450px;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #000; /* Example border color */
  border-radius: 8px; /* Example border radius */
  background-color: black; /* Background color */
}

.iframe {
  width: 100%;
  height: 100%;
}
/* components/TvshowDetail.module.css */

.container {
  padding: 20px;
}

